@import "../../Global.scss";

.wrapp_header{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
    
    @include mobile{
        flex-direction: column-reverse;
    }
}